<%- include layouts/header.ejs %>
    
        <h2>Kelompok 3 Manajemen Basis Data.</h2>
        <p>
        &nbsp;<a class="a-inside init" href="/cassandrainfo">Klik untuk inisialisasi database!</a>&nbsp;
        </p>
        
<%- include layouts/footer.ejs %>
